<ion-header>
  <ion-toolbar color="blue">
    <ion-title >Application Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="savePreferences()">

    <ion-list-header>Notification settings</ion-list-header>
    <ion-item>
      <ion-label>Enable Severe Weather alert notifications</ion-label>
      <ion-toggle slot="end" [(ngModel)]="currentPreference.option1" name="option1" (ionChange)="savePreferences()"></ion-toggle>
    </ion-item>

    <ion-list-header>Light settings</ion-list-header>
    <ion-item>
      <ion-label>Enable dark mode</ion-label>
      <ion-toggle slot="end" [(ngModel)]="currentPreference.option2" name="option2" (ionChange)="savePreferences()"></ion-toggle>
    </ion-item>

    <ion-list-header>Temperature settings</ion-list-header>
    <ion-radio-group [(ngModel)]="currentPreference.radioValue" name="radioValue" (ionChange)="savePreferences()">
      <ion-item>
        <ion-label>Celcius</ion-label>
        <ion-radio slot="start" value="option1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Fahrenheit</ion-label>
        <ion-radio slot="start" value="option2"></ion-radio>
      </ion-item>

    </ion-radio-group>

    <ion-button color="medium" expand="block" type="submit" (click)="savePreferences()">Save Preferences</ion-button>
    <ion-button color="medium" expand="block" (click)="resetPreferences()"> RESET ALL SETTINGS</ion-button>

  </form>
</ion-content>