<ion-menu contentId="main-content" menuId="main-menu" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/forecast-page">Forecast</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
 

  <ion-content>
    <div class="wrapper">
      <div class="topDiv">
        <div id="cityTimeDiv">
          <h2 id="cityName">{{ cityName }}</h2>
          <h3 id="dayTime">{{ dayTime }}</h3>
          <ion-buttons id="burgerMenu" slot="start">
            <ion-button (click)="onGearClick()">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div id="temps">
        <!--  <img src="" id="sunLogo"/>  -->
          <i class="fa-solid fa-sun"></i>
          <span id="temperature">{{ weatherData?.temperature || 'N/A' }}</span>
        </div>
      </div>

    <!--<div class="manualEntry">
        <ion-input
        placeholder="Enter city name"
        [(ngModel)]="manualCity"
        clearInput
        ></ion-input>
        <ion-button expand="block" (click)="onManualCitySubmit()">Get Weather</ion-button>
      </div> 
      --> 

      <div class="manualEntry">
        <ion-input
          placeholder="Enter city name"
          [(ngModel)]="manualCity"
          (ionInput)="onCityInput($event)"
          clearInput
        ></ion-input>
        <ion-list *ngIf="citySuggestions.length > 0">
          <ion-item *ngFor="let city of citySuggestions" (click)="selectCity(city)">
            {{ city.name }}, {{ city.country }}
          </ion-item>
        </ion-list>
        <ion-button expand="block" (click)="onManualCitySubmit()">Get Weather</ion-button>
      </div>

      <div class="weatherDiv">
        <div id="weather1">
        <!-- Today<br>
          weather<br>
          humidity<br>
          wind<br>  -->
          <p>Now</p>
          <p> <i [class]="getWeatherIcon(weatherData?.description || '')"></i>
          {{ weatherData?.description || 'N/A' }}</p>

          <p><i class="fa-solid fa-droplet"></i>
            {{ weatherData?.humidity || 'N/A' }}</p>

          <p> <i class="fa-solid fa-wind"></i>
            {{ weatherData?.wind || 'N/A' }}</p>

        </div>
        <div id="weather2">
          <p> {{ hourlyWeather[0]?.time || 'N/A' }}</p>

          <p><i [class]="getWeatherIcon(hourlyWeather[0]?.description || '')"></i>
          {{ hourlyWeather[0]?.description || 'N/A' }}</p>
          
          <p><i class="fa-solid fa-droplet"></i>
          {{ hourlyWeather[0]?.humidity || 'N/A' }} </p>
            
          <p><i class="fa-solid fa-wind"></i>
          {{ hourlyWeather[0]?.wind || 'N/A' }}</p>
        </div>

        <div id="weather3">
          <p> {{ hourlyWeather[1]?.time || 'N/A' }}</p>

          <p><i [class]="getWeatherIcon(hourlyWeather[1]?.description || '')"></i>
            {{ hourlyWeather[1]?.description || 'N/A' }}</p>

          <p><i class="fa-solid fa-droplet"></i>
            {{ hourlyWeather[1]?.humidity || 'N/A' }} </p>

            <p><i class="fa-solid fa-wind"></i>
            {{ hourlyWeather[1]?.wind || 'N/A' }}</p>

        </div>
        <div id="weather4">
          <p> {{ hourlyWeather[2]?.time || 'N/A' }}</p>

          <p><i [class]="getWeatherIcon(hourlyWeather[2]?.description || '')"></i>
            {{ hourlyWeather[2]?.description || 'N/A' }}</p>

          <p><i class="fa-solid fa-droplet"></i>
          {{ hourlyWeather[2]?.humidity || 'N/A' }} </p>

          <p><i class="fa-solid fa-wind"></i>
            {{ hourlyWeather[2]?.wind || 'N/A' }}</p>
        </div>

        <div id="weather5">
          <p> {{ hourlyWeather[3]?.time || 'N/A' }}</p>

          <p><i [class]="getWeatherIcon(hourlyWeather[3]?.description || '')"></i>
            {{ hourlyWeather[3]?.description || 'N/A' }}</p>

        <p><i class="fa-solid fa-droplet"></i>
          {{ hourlyWeather[3]?.humidity || 'N/A' }} </p>

          <p><i class="fa-solid fa-wind"></i>
          {{ hourlyWeather[3]?.wind || 'N/A' }}</p>
        </div>
      </div>

      <div class="daysDiv">
        <div *ngFor="let day of dailyWeather" class="dayCard">
          <p>{{ day.date }}</p>
          <p>
            <i [class]="day.icon"></i> {{ day.description }}
          </p>
          <p>
            <i class="fa-solid fa-droplet"></i> {{ day.humidity }}
          </p>
          <p>
            <i class="fa-solid fa-wind"></i> {{ day.wind }}
          </p>
          <p>
            <i class="fa-solid fa-temperature-high"></i> {{ day.temperature }}
          </p>
        </div>
      </div>
  </div>




    <!--<ion-menu contentId="main-content" menuId="settings-menu" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="settings-container">
          <ion-item>
            <ion-label>Dark Mode</ion-label>
            <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode()"> </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Severe Weather Alerts</ion-label>
            <ion-toggle [(ngModel)]="areNotificationsEnabled" (ionChange)="toggleNotifications()"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Temperature Unit</ion-label>
            <ion-segment [(ngModel)]="temperatureUnit" (ionChange)="changeTemperatureUnit()">
              <ion-segment-button value="C">
                <ion-label>°C</ion-label>
              </ion-segment-button>
              <ion-segment-button value="F">
                <ion-label>°F</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>
      </ion-content>
    </ion-menu> -->



  </ion-content>
