ion-content {
    --background: linear-gradient(to bottom, #ff6600,#6699ff);
  }

.wrapper{
    height: 100%;
    width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20%;
    gap: 20px;
}

.topDiv{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 40%;
    border-radius: 8px;
    text-align:center;
    color:black;
    margin-bottom: 20px;
}

#cityTimeDiv{
    background-color: rgb(255, 187, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 10px;
    width: 100%;
    height: 50%;
}

#cityName {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#dayTime {
    font-size: 1rem;
    margin: 0;
}

#burgerMenu {
    position: absolute;
    top: 10px;
    right: 10px; /* Align the burger menu to the right */
    z-index: 10;
}

#temps{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 2rem;
    width: 100%;
    padding: 10px;

    i{
        font-size: 3rem;
        color: #ffcc00;
    }
    #temperature{
        font-weight: bold;
        color: #333;
    }
}

.weatherDiv{
    background-color: rgb(255, 255, 255);
    color:red;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
   justify-content: space-between; 
   align-items: center;
}

.weatherDiv > div {
   // background-color: #f0f0f0; /* Light background for each weather div */
  //  color: #333; /* Text color */
  //  width: 18%; /* Set a small width for each child div */
  //  height: 150px; /* Set a tall height for each child div */
  //  border-radius: 8px; /* Add rounded corners */
  //  display: flex;
  //  align-items: center; /* Center content vertically */
  //  justify-content: center; /* Center content horizontally */
  //  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }



.daysDiv{
    display: flex;
    background-color: rgb(255, 255, 255);
    color:red;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    height:auto;
    flex-direction: column;
    align-items: center;
    
}